<app-side-menu></app-side-menu>
<ion-content [fullscreen]="true">
  <ng-container *ngIf="isLoading; else contentTemplate">
    <section class="loading-message">
      <ion-spinner></ion-spinner>
    </section>
  </ng-container>

  <ng-template #contentTemplate>
    <ng-container *ngIf="product; else notFoundTemplate">
      <section class="product-container">
        <h2 class="product-title">{{ product.name }}</h2>
        <p class="product-description">Description: {{ product.description }}</p>
        <p class="product-price">Price: {{ product.price }}</p>

        <div>
          <ion-button class="product-button" color="primary" (click)="isUpdating = true">Update</ion-button>
          <ion-button class="product-button" color="danger" (click)="openConfirmationModal()">Delete</ion-button>
        </div>
      </section>

      <ion-card *ngIf="isUpdating">
        <ion-card-header>
          <ion-card-title>Update Product</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-input type="text" formControlName="description"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Price</ion-label>
              <ion-input type="text" formControlName="price"></ion-input>
            </ion-item>

            <ion-button shape="full" color="danger" (click)="isUpdating = false">Abort</ion-button>
            <ion-button type="submit" color="primary" shape="full" expand="block">Save product</ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ng-template #notFoundTemplate>
      <section class="not-found-message">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Product not found</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="alert-circle-outline" class="not-found-icon"></ion-icon>
            <p class="not-found-text">Sorry, the product you are looking for does not exist.</p>
          </ion-card-content>
        </ion-card>
      </section>
    </ng-template>
  </ng-template>
</ion-content>